// NORMALIZE
@import '~node_modules/modern-normalize/modern-normalize.css';
// FONTS
@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap';
// UTILS
@import './utils/mixin';
@import './utils/placeholders';
@import './utils/variables';

// BASE
@import './base/colors';
@import './base/globalStyles';
@import './base/container';

// COMPONENTS
@import './components/header';
@import './components/modal';
@import './components/hero';
@import './components/customers';
@import './components/slider';
@import './components/offerings';
@import './components/favorites';
@import './components/subscribe';
@import './components/footer';
