@import '~node_modules/modern-normalize/modern-normalize.css';
@import 'https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap';
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #2C2C2C;
  background-color: #FEFEFE;
  letter-spacing: 0.03em;
  font-size: 14px;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  font-style: normal;
}

a {
  text-decoration: none;
}

img {
  margin-top: 0;
  margin-bottom: 0;
  display: block;
}

button {
  font-size: 100%;
  border: 0;
  padding: 0;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.header {
  margin-bottom: 60px;
}

.header .container {
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
}

.header__nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.burger {
  display: none;
}
@media screen and (max-width: 767px) {
  .burger {
    display: inline-flex;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
  }
}

.burger__icon--close {
  display: none;
}

.burger.is-open .burger__icon--close {
  display: block;
  position: absolute;
  z-index: 888;
  right: 0px;
  top: 50px;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    background-color: #FEFEFE;
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    width: 130px;
    height: 255px;
    box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
    border-radius: 30px 0px 30px 30px;
    overflow: hidden;
  }
  .mobile-menu.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 28px;
  }
}

.mobile-menu__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  color: #000000;
}
@media screen and (min-width: 768px) {
  .mobile-menu__link:hover, .mobile-menu__link:focus {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #BBF330;
  }
}
@media screen and (min-width: 1280px) {
  .mobile-menu__link {
    color: #2C2C2C;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu__item {
    padding-top: 16px;
    padding-left: 16px;
    height: 51px;
  }
  .mobile-menu__item:active {
    background: #BBF330;
  }
}

.menu__order {
  display: none;
  cursor: pointer;
  color: #2C2C2C;
}
@media screen and (min-width: 768px) {
  .menu__order {
    width: 92px;
    height: 32px;
    margin-left: 2px;
    display: block;
    background: #BBF330;
    border: none;
    border-radius: 30px;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.53;
  }
}

@media screen and (min-width: 1280px) {
  .subscribe .container {
    display: flex;
  }
}

.subscribe__picture {
  order: 1;
}

.subscribe__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.21;
}
@media screen and (min-width: 768px) {
  .subscribe__title {
    font-size: 42px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1280px) {
  .subscribe__title {
    font-weight: 700;
  }
}

.subscribe__text {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
@media screen and (min-width: 768px) {
  .subscribe__text {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 1.5;
  }
}

.subscribe__img {
  margin-bottom: 17px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .subscribe__img {
    margin-right: 0;
  }
}

.subscribe__input {
  width: 100%;
  height: 42px;
  padding: 12px;
  margin-bottom: 20px;
  display: block;
  background: #FFFFFF;
  /* Yellow main */
  border: 0.854167px solid #FFE550;
  border-radius: 30px;
}
.subscribe__input:focus:valid {
  outline: none;
  border: 0.854167px solid #7EB101;
}
.subscribe__input:invalid {
  border: 0.854167px solid #FF705D;
}
@media screen and (min-width: 768px) {
  .subscribe__input {
    width: 395px;
    margin-right: 22px;
  }
}

.subscribe__button {
  display: block;
  width: 103px;
  height: 42px;
  margin-left: auto;
  background: #BBF330;
  border-radius: 30px;
}
@media screen and (min-width: 768px) {
  .subscribe__button {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .subscribe__form {
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
  .subscribe__textfield {
    padding-top: 46px;
  }
}

.slider {
  border: 14px solid #FFE550;
  border-radius: 50%;
  overflow: hidden;
  width: 292px;
  height: 292px;
  display: block;
}
@media screen and (min-width: 1280px) {
  .slider {
    border: 26px solid #FFE550;
    width: 528px;
    height: 528px;
  }
}
@media (max-width: 767px) {
  .slider {
    display: none;
  }
}

.slider-line {
  display: flex;
  transition: all ease 1s;
  background-color: F5F5F5;
  position: relative;
}/*# sourceMappingURL=index.css.map */