<!--Customers-->
<section class="customers" id="customers">
  <div class="container customers__container">
    <h2 class="customers-title">What our Customers Say</h2>
    <p class="title-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="review-list">
      <li class="review-item">
        <svg class="icon-stars" width="101px" height="16px">
          <use href="/src/images/symbol-defs.svg#icon-Stars"></use>
        </svg>
        <p class="review-description">
          "The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked"
        </p>
        <div class="wrapper-signature">
          <picture>
            <source srcset="
                /src/images/avatars/ava-mob-man.jpg   1x,
                /src/images/avatars/ava-mob-man2x.jpg 2x,
                /src/images/avatars/ava-mob-man3x.jpg 3x
              " />
            <source />
            <source />
            <img src="/src/images/avatars/ava-mob-man.jpg" alt="customer avatar" />
          </picture>
          <div class="wrapper-name">
            <p class="customer-name">Sumith Shah</p>
            <p class="customer-position">Some Dude</p>
          </div>
        </div>
      </li>
      <li class="review-item">
        <svg class="icon-stars" width="101px" height="16px">
          <use href="/src/images/symbol-defs.svg#icon-Stars"></use>
        </svg>
        <p class="review-description">
          “The ease with which I can just go in and order what i want was
          amazing, It has been a very pleasant experience ordering from this
          app”
        </p>
        <div class="wrapper-signature">
          <picture>
            <source srcset="
                /src/images/avatars/ava-mob-woman.jpg   1x,
                /src/images/avatars/ava-mob-woman2x.jpg 2x,
                /src/images/avatars/ava-mob-woman3x.jpg 3x
              " />
            <source />
            <source />
            <img src="/src/images/avatars/ava-mob-woman.jpg" alt="customer avatar" />
          </picture>
          <div class="wrapper-name">
            <p class="customer-name">Sumith Shah</p>
            <p class="customer-position">Some Dude</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>