<section class="favorites" id="favorites">
    <div class="container">

        <h2 class="favorites__title">Some of Our Favorites</h2>
        <p class="favorites__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <ul class="favorites__content">
            <li class="favorites__list">
                <picture>
                    <source srcset="./images/favoritesimj/gamburger-l.png 1x, ./images/favoritesimj/gamburger-l-2x.png 2x, ./images/favoritesimj/gamburger-l-3x.png 3x" media="(min-width: 1280px)">
                    <source srcset="./images/favoritesimj/gamburger-m.png 1x, ./images/favoritesimj/gamburger-m-2x.png 2x, ./images/favoritesimj/gamburger-m-3x.png 3x" media="(min-width: 768px)">
                    <source srcset="./images/favoritesimj/gamburger-s.png 1x, ./images/favoritesimj/gamburger-s-2x.png 2x, ./images/favoritesimj/gamburger-s-3x.png 3x" media="(max-width: 767px)">
                    <img class="favorites__img" src="/src/images/favoritesimj/gamburger-l.png" alt="burger"> 
                </picture> 
            </li>
            <li class="favorites__list">
                <picture>
                    <source srcset="./images/favoritesimj/pasta-l.png 1x, ./images/favoritesimj/pasta-l-2x.png 2x, ./images/favoritesimj/pasta-l-3x.png 3x" media="(min-width: 1280px)">
                    <source srcset="./images/favoritesimj/pasta-m.png 1x, ./images/favoritesimj/pasta-m-2x.png 2x, ./images/favoritesimj/pasta-m-3x.png 3x" media="(min-width: 768px)">
                    <source srcset="./images/favoritesimj/pasta-s.png 1x, ./images/favoritesimj/pasta-s-2x.png 2x, ./images/favoritesimj/pasta-s-3x.png 3x" media="(max-width: 767px)">
                    <img class="favorites__img" src="/src/images/favoritesimj/pasta-l.png" alt="pasta"> 
                </picture> 
            </li>
            <li class="favorites__list">
                <picture>
                    <source srcset="./images/favoritesimj/pizza-l.png 1x, ./images/favoritesimj/pizza-l-2x.png 2x, ./images/favoritesimj/pizza-l-3x.png 3x" media="(min-width: 1280px)">
                    <source srcset="./images/favoritesimj/pizza-m.png 1x, ./images/favoritesimj/pizza-m-2x.png 2x, ./images/favoritesimj/pizza-m-3x.png 3x" media="(min-width: 768px)">
                    <source srcset="./images/favoritesimj/pizza-s.png 1x, ./images/favoritesimj/pizza-s-2x.png 2x, ./images/favoritesimj/pizza-s-3x.png 3x" media="(max-width: 767px)">
                    <img class="favorites__img" src="/src/images/favoritesimj/pizza-l.png" alt="pizza"> 
                </picture> 
            </li>
            <li class="favorites__list favorites__list--hidden">
                <picture>
                    <source srcset="./images/favoritesimj/chicken-l.png 1x, ./images/favoritesimj/chicken-l-2x.png 2x, ./images/favoritesimj/chicken-l-3x.png 3x" media="(min-width: 1280px)">
                    <source srcset="./images/favoritesimj/chicken-m.png 1x, ./images/favoritesimj/chicken-m-2x.png 2x, ./images/favoritesimj/chicken-m-3x.png 3x" media="(min-width: 768px)">
                    <img class="favorites__img" src="/src/images/favoritesimj/chicken-l.png" alt="chicken"> 
                </picture> 
            </li>
            <li class="favorites__list favorites__list--hidden">
                <picture>
                    <source srcset="./images/favoritesimj/salat-l.png 1x, ./images/favoritesimj/salat-l-2x.png 2x, ./images/favoritesimj/salat-l-3x.png 3x" media="(min-width: 1280px)">
                    <source srcset="./images/favoritesimj/salat-m.png 1x, ./images/favoritesimj/salat-m-2x.png 2x, ./images/favoritesimj/salat-m-3x.png 3x" media="(min-width: 768px)">
                    <img class="favorites__img" src="/src/images/favoritesimj/salat-l.png" alt="salat"> 
                </picture> 
            </li>
            <li class="favorites__list favorites__list--hidden">
                <picture>
                    <source srcset="./images/favoritesimj/borshch-l.png 1x, ./images/favoritesimj/borshch-l-2x.png 2x, ./images/favoritesimj/borshch-l-3x.png 3x" media="(min-width: 1280px)">
                    <source srcset="./images/favoritesimj/borshch-m.png 1x, ./images/favoritesimj/borshch-m-2x.png 2x, ./images/favoritesimj/borshch-m-3x.png 3x" media="(min-width: 768px)">
                    <img class="favorites__img" src="/src/images/favoritesimj/borshch-l.png" alt="borsh"> 
                </picture> 
            </li>
        </ul>
</div>
</section>