<section class="container">
    <div class="favorites">

<h2 class="favorites__title">Some of Our Favorites</h2>
<p class="favorites__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
<ul class="favorites__content">
    <li class="favorites__list">
        <source srcset=" /src/images/favoritesimj/gamburgertelx1.jpg,/src/images/favoritesimj/gamburgertel2x.jpg " media="(min-width:767px )">
        <source srcset=" /src/images/favoritesimj/gamburgertabx1.jpg,/src/images/favoritesimj/gamburgertab2x.jpg " media="(min-width:768px )">
        <source srcset=" /src/images/favoritesimj/gamburgerdexx1.jpg,/src/images/favoritesimj/gamburgerdex2x.jpg " media="(min-width:1200px )">
        <img class="favorites__img"   src="/src/images/favoritesimj/gamburgertabx1.jpg" alt="Бургер">  
    </li>
    <li class="favorites__list">
        <source srcset=" /src/images/favoritesimj/Pastatelx1.jpg,/src/images/favoritesimj/Pastatel2x.jpg " media="(min-width:767px )">
        <source srcset=" /src/images/favoritesimj/Pastatabx1.jpg,/src/images/favoritesimj/Pastatab2x.jpg " media="(min-width:768px )">
        <source srcset=" /src/images/favoritesimj/Pastadecx1.jpg,/src/images/favoritesimj/Pastadec2x.jpg " media="(min-width:1200px )">
    <img class="favorites__img "  src="/src/images/favoritesimj/Pastatabx1.jpg" alt="паста">
    </li>
    <li class="favorites__list">
        <source srcset=" /src/images/favoritesimj/pizzatelx1.jpg,/src/images/favoritesimj/pizzatel2x.jpg " media="(min-width:767px )">
        <source srcset=" /src/images/favoritesimj/pizzatabx1.jpg,/src/images/favoritesimj/pizzatab2x.jpg " media="(min-width:768px )">
        <source srcset=" /src/images/favoritesimj/pizzadexx1.jpg,/src/images/favoritesimj/pizzadex2x.jpg " media="(min-width:767px )">
        <img   class="favorites__img"  src="/src/images/favoritesimj/pizzatabx1.jpg" alt="піца">
    </li>
    <li class="favorites__list">
        <source srcset=" /src/images/favoritesimj/chickentabx1.jpg,/src/images/favoritesimj/chickentab2x.jpg " media="(min-width:768px )">
        <source srcset=" /src/images/favoritesimj/chickendexx1.jpg,/src/images/favoritesimj/chickendex2x.jpg " media="(min-width:1200px )">
        <img  class="favorites__img img-non" src="/src/images/favoritesimj/chickentabx1.jpg" alt="курка">
    </li>
    <li class="favorites__list">
        <source srcset=" /src/images/favoritesimj/salattabx1.jpg,/src/images/favoritesimj/salattab2x.jpg " media="(min-width:768px )">
        <source srcset=" /src/images/favoritesimj/salatdexx1.jpg,/src/images/favoritesimj/salatdex2x.jpg " media="(min-width:767px )">
        <img class="favorites__img img-non" src="/src/images/favoritesimj/salattabx1.jpg" alt="салат">
    </li >
    <li class="favorites__list">
        <source srcset=" /src/images/favoritesimj/borshchtabx1.jpg,/src/images/favoritesimj/borshchtab2x.jpg " media="(min-width:768px )">
        <source srcset=" /src/images/favoritesimj/borshchdexx1.jpg,/src/images/favoritesimj/borshchdex2x.jpg " media="(min-width:1200px )">
        <img class="favorites__img img-non" src="/src/images/favoritesimj/borshchtabx1.jpg" alt="борщ">
    </li>
    
</ul>
</div>
</section>