<footer class="footer">
    <div class="container footer__container">
        <div class="footer__nav">
            <a href="index.html" class="footer__logo__link">
                <svg class="logo">
                    <use href="./images/symbol-defs.svg#icon-logo"></use>
                </svg>
            </a>
            <nav class="footer__main-nav">
                <ul class="footer__nav__list menu__list">
                    <li class="footer__menu__item">
                        <a href="#hero" class="footer__nav__link menu__link">Hero</a>
                    </li>
                    <li class="footer__menu__item">
                        <a href="#offerings" class="footer__nav__link menu__link">Offerings</a>
                    </li>
                    <li class="footer__menu__item">
                        <a href="#favorites" class="footer__nav__link menu__link">Favorites</a>
                    </li>
                    <li class="footer__menu__item">
                        <a href="#customers" class="footer__nav__link menu__link">Customers Say</a>
                    </li>
                    <li class="footer__menu__item">
                        <a href="#subscribe" class="footer__nav__link menu__link">Subscribe</a>
                    </li>
                </ul>
            </nav>
            <div class="subscribe__wrap">
                <h2 class="subscribe__header">Subscribe</h2>
                <form class="footer__subscribe__form">
                    <label class="footer__subscribe__label">
                        <input type="email" name="email" class="subscribe__input footer__subscribe__input"
                            placeholder="Enter your email" pattern="*@*.*">
                        <span class="error__input">Not a valid email address (example@email.com)
                        </span>
                    </label>
                    <button type="submit" class="footer__subscribe__btn">Subscribe</button>
                </form>
                <p class="privacy-policy">By subscribing you agree to with our <a href="http://"
                        class="privacy-policy__link">Privacy Policy</a></p>
            </div>

        </div>
        <div class="footer__info">
            <ul class="footer__info__list">
                <li class="footer__info__item"><a href="http://" class="footer__info__link">Privacy Policy</a></li>
                <li class="footer__info__item"><a href="http://" class="footer__info__link">Terms of Service</a></li>
                <li class="footer__info__item"><a href="http://" class="footer__info__link">Cookies Settings</a></li>
            </ul>
            <p class="footer__copyright">2022 FoodSta. All right reserved.</p>
        </div>




    </div>
</footer>