    <!--Header-->
    <header class="header">
      <div class="container">
        <nav class="header__nav">
          <a href="./index.html">
            <svg width="66" height="52" aria-label="лого">
              <use class="header__logo" href="./images/symbol-defs.svg#icon-logo"></use>
            </svg>
          </a>
          <div class="mobile-menu" id="mobile-menu" data-menu>
            <ul class="mobile-menu__list">
              <li class="mobile-menu__item">
                <a class="mobile-menu__link" href="">Home</a>
              </li>
              <li class="mobile-menu__item">
                <a class="mobile-menu__link" href="">About</a>
              </li>
              <li class="mobile-menu__item">
                <a class="mobile-menu__link" href="">Service</a>
              </li>
              <li class="mobile-menu__item">
                <a class="mobile-menu__link" href="">Menu</a>
              </li>
              <li class="mobile-menu__item">
                <a class="mobile-menu__link" href="">Contact</a>
              </li>
              <li>
                <button class="menu__order" type="button">Order Now</button>
              </li>
            </ul>
            
          </div>
          
          <button type="button" class="burger" data-menu-button="" aria-expanded="false" aria-controls="mobile-menu">
            <svg class="burger__icon--open" width="28" height="28" aria-label="перемикач мобільного меню">
              <use href="./images/symbol-defs.svg#icon-btn-open"></use>
            </svg>
            <svg class="burger__icon--close" width="28" height="28" aria-label="перемикач мобільного меню">
              <use href="./images/symbol-defs.svg#icon-btn-close"></use>
            </svg>
          </button>
          
          
        </nav>
        
      </div>

    </header>