<section class="hero" id="hero"> 
    <div class="container"> 
      <div class="hero__wrap"> 
        <div class="hero__elements"> 
          <h1 class="hero__title">Enjoy Your Favorite Food From Anywhere</h1> 
          <p class="hero__text"> 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse 
            varius enim in eros elementum tristique. Duis cursus, mi quis viverra 
            ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. 
          </p> 
          <button type="button" class="hero__button" data-modal-open>Order Now</button> 
        </div> 
        <div class="hero__slider"></div> 
      </div> 
    </div> 
  </section>