<section class="hero" id="hero"> 
  <div class="container"> 
    <div class="hero__wrap"> 
      <div class="hero__elements"> 
        <h1 class="hero__title">Enjoy Your Favorite Food From Anywhere</h1> 
        <p class="hero__text"> 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse 
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra 
          ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. 
        </p> 
        <button type="button" class="hero__button" data-modal-open>Order Now</button> 
      </div> 
      <div class="hero__slider">
        <div class="slider-container">
          <div class="slider">
            <div class="slider-box">
              <div class="slider-line">
                <img srcset="
                          ./images/slider-photo1-tablet.png 292w,
                          ./images/slider-photo1-desktop.png 528w,
                          ./images/slider-photo1-tablet@2x.png 584w,
                          ./images/slider-photo1-tablet@3x.png 876w,
                          ./images/slider-photo1-desktop@2x.png 1056w,
                          ./images/slider-photo1-desktop@3x.png 1584w"
                  sizes="(min-width: 1280px) 528px, (min-width: 768px) 292px " src="./images/slider-photo1-desktop.png"
                  alt="falafel">
                <img srcset="
                          ./images/slider-photo2-tablet.png 292w,
                          ./images/slider-photo2-desktop.png 528w,
                          ./images/slider-photo2-tablet@2x.png 584w,
                          ./images/slider-photo2-tablet@3x.png 876w,
                          ./images/slider-photo2-desktop@2x.png 1056w,
                          ./images/slider-photo2-desktop@3x.png 1584w"
                  sizes="(min-width: 1280px) 528px, (min-width: 768px) 292px " src="./images/slider-photo2-desktop.png"
                  alt="greek-salad">
                <img srcset="
                          ./images/slider-photo3-tablet.png 292w,
                          ./images/slider-photo3-desktop.png 528w,
                          ./images/slider-photo3-tablet@2x.png 584w,
                          ./images/slider-photo3-tablet@3x.png 876w,
                          ./images/slider-photo3-desktop@2x.png 1056w,
                          ./images/slider-photo3-desktop@3x.png 1584w"
                  sizes="(min-width: 1280px) 528px, (min-width: 768px) 292px " src="./images/slider-photo3-desktop.png"
                  alt="poached-egg">
              </div>
            </div>
          </div>
          <svg class="slider-prev" width="34" height="28">
            <use href="./images/symbol-defs.svg#icon-left"></use>
          </svg>
          <svg class="slider-next" width="34" height="28">
            <use href="./images/symbol-defs.svg#icon-right"></use>
          </svg>
        </div>
      </div> 
    </div> 
  </div> 
</section>