<!-- section offerings -->

<section class="offerings" id="offerings">
    <div class="container">
        <div class="offerings__desktop">
            <div class="offerings__img">
                <picture>


                    <source srcset=" 
                                    ./images/apple/apple-desktop-1x.png 1x,
                                     ./images/apple/apple-desktop-2x.png 2x,
                                     ./images/apple/apple-desktop-3x.png 3x" media=" (min-width:1280px)" />

                    <source srcset=" 
                                    ./images/apple/apple-tablet-1x.png 1x,
                                     ./images/apple/apple-tablet-2x.png 2x,
                                     ./images/apple/apple-tablet-3x.png 3x" media=" (min-width:768px)" />

                    <source srcset=" 
                                    ./images/apple/apple-mobil-1x.png 1x,
                                     ./images/apple/apple-mobil-2x.png 2x,
                                     ./images/apple/apple-mobil-3x.png 3x" media=" (max-width:767px)" />


                    <img src="./images/apple/apple-mobil-1x.png" alt=" яблоко" />

                </picture>

            </div>

            <div class="offerings__description">
                <h2 class="offerings__title">
                    What’s Special About Our Offerings
                </h2>
                <p class="offerings__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum
                    tristique.
                    Duis
                    cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
                </p>
                <div>
                    <ul class="offerings__list">
                        <li class="offerings__item">

                            <a href="" class="offerings__link__icon">
                                <svg width="32" class="offerings__icon ">
                                    <use href="./images/symbol-defs.svg#icon-launch"></use>
                                </svg>
                            </a>

                            <h3 class="offerings__title__advantage"> Fasest Delivery</h3>
                            <p class="offrings__advantage__description"> Lorem ipsum dolor sit amet, consectetur
                                adipiscing
                                elit. Suspendisse varius enim in eros.</p>

                        </li>

                        <li class="offerings__item">

                            <a href="" class="offerings__link__icon">
                                <svg width="32" class="offerings__icon">
                                    <use href="./images/symbol-defs.svg#icon-touch"></use>
                                </svg>
                            </a>

                            <h3 class="offerings__title__advantage"> Easy to order</h3>

                            <p class="offrings__advantage__description">Lorem ipsum dolor sit amet, consectetur
                                adipiscing
                                elit.
                                Suspendisse varius enim in eros.</p>
                        </li>
                    </ul>
                    <div class="offerings__div">
                        <button type="button" class="offerings__btn" data-modal-open>Order Now</button>

                        <a href="" class="offerings__link">

                            <span>Read More</span>

                            <svg width="9" class="offerings__icon__svg">
                                <use href="./images/symbol-defs.svg#icon-vector"></use>
                            </svg>

                        </a>
                    </div>



                </div>
            </div>

        </div>







    </div>
</section>