<!-- slider -->
<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../sass/index.css" />

    </head>
<body> -->

<div class="container">
<div class="slider">
    <div class="slider-line">
        <img src="../images/slider-photo1-tablet.png" alt="falafel">
        <img src="../images/slider-photo2-tablet.png" alt="greek-salad">
        <img src="../images/slider-photo3-tablet.png" alt="poached-egg">
    </div>
</div>
<button class="button slider-prev">prev</button>
<button class="button slider-next">next</button>
</div>


<script src="./js/slider.js"></script>

<!-- 
</body>
</html> -->