<!-- slider -->
<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../sass/index.css" />

    </head>
<body> -->

<div class="container">
<div class="slider">
    <div class="slider-line">
        <img srcset="
        ./images/slider-photo1-tablet.png 292w,
        ./images/slider-photo1-desktop.png 528w,
        ./images/slider-photo1-tablet@2x.png 584w,
        ./images/slider-photo1-tablet@3x.png 876w,
        ./images/slider-photo1-desktop@2x.png 1056w,
        ./images/slider-photo1-desktop@3x.png 1584w"
        sizes="(min-width: 1280px) 528px, (min-width: 768px) 292px "
        src="./images/slider-photo1-desktop.png" alt="falafel">
        <img srcset="
        ./images/slider-photo2-tablet.png 292w,
        ./images/slider-photo2-desktop.png 528w,
        ./images/slider-photo2-tablet@2x.png 584w,
        ./images/slider-photo2-tablet@3x.png 876w,
        ./images/slider-photo2-desktop@2x.png 1056w,
        ./images/slider-photo2-desktop@3x.png 1584w"
        sizes="(min-width: 1280px) 528px, (min-width: 768px) 292px "
        src="./images/slider-photo2-desktop.png" alt="greek-salad">
        <img srcset="
        ./images/slider-photo3-tablet.png 292w,
        ./images/slider-photo3-desktop.png 528w,
        ./images/slider-photo3-tablet@2x.png 584w,
        ./images/slider-photo3-tablet@3x.png 876w,
        ./images/slider-photo3-desktop@2x.png 1056w,
        ./images/slider-photo3-desktop@3x.png 1584w"
        sizes="(min-width: 1280px) 528px, (min-width: 768px) 292px "
        src="./images/slider-photo3-desktop.png" alt="poached-egg">
    </div>
</div>
<button class="button slider-prev"><svg class="slider-icon">
    <use href="./images/symbol-defs.svg#icon-prev"></use>
</svg></button>
<button class="button slider-next"><svg class="slider-icon">
    <use href="./images/symbol-defs.svg#icon-next"></use>
</svg></button>
</div>


<script src="./js/slider.js"></script>


<!-- </body>
</html> -->
