<section class="subscribe">
    <div class="container">
        <picture class="subscribe__picture">
            <source srcset="./images/banana_l.png 1x" media="(min-width: 1200px)">
            <source srcset="./images/banana_m.png 1x" media="(min-width: 768px)">
            <source srcset="./images/banana_s.png 1x" media="(max-width: 767px)">
            <img class="subscribe__img" src="./images/banana_s.png" alt="процесс програмування"/>
        </picture>  
        <div class="subscribe__textfield">
            <h2 class="subscribe__title">Subscribe To Get Special Offers</h2>
            <p class="subscribe__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
            <form class="subscribe__form">
                <input class="subscribe__input" type="email" name="email"  placeholder="Enter your email">
                <button class="subscribe__button" type="submit">Subscribe</button>
            </form>
        </div>

    </div>
</section>