.customers {
  background-image: url(/src/images/bg-customers-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 60px;
  @include media-min(tablet) {
    background-image: url(/src/images/bg-customers-tablet.jpg);
    padding-bottom: 120px;
  }
  @include media-min(desktop) {
    background-image: url(/src/images/bg-customers-desktop.jpg);
    padding-top: 100px;
    padding-bottom: 200px;
  }
}

.customers-title {
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0em;
  margin-bottom: 20px;
  @include media-min(tablet) {
    font-size: 42px;
  }
}

.title-description {
  font-weight: 400;
  margin-bottom: 32px;
  @include media-min(tablet) {
    font-size: 16px;
  }
}

.review-item {
  background-color: #fff;
  padding: 8px;
  border-radius: 30px;
  border-top-left-radius: 0;
  @include media-min(tablet) {
    min-width: 336px;
    padding: 12px;
  }
  @include media-min(desktop) {
    max-width: 501px;
    padding: 14px;
  }
}

.icon-stars {
  margin-bottom: 28px;
}

.review-description {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 40px;
  @include media-min(tablet) {
    font-size: 18px;
  }
}

.customer-name {
  font-weight: 500;
  margin-bottom: 2px;
  line-height: 150%;
}

.customer-position {
  font-weight: 400;
  line-height: 150%;
}

.wrapper-signature {
  display: flex;
  align-items: center;
  width: 160px;
  border-right: 1px solid #7eb101;
}

.wrapper-name {
  margin-left: 16px;
}

.review-item + .review-item {
  margin-top: 24px;
  @include media-min(tablet) {
    margin-left: 32px;
    margin-top: 0;
  }
  @include media-min(desktop) {
    margin-left: 139px;
  }
}

.review-list {
  @include media-min(tablet) {
    display: flex;
  }
}
