.favorites{
    padding-top: 60px;
    padding-bottom: 60px;
}
.favorites__content{
    // display: flex;
    // flex-wrap: wrap;
    justify-content: center;
    // gap: 20px;
    
    // @media screen and  (min-width:768px){
    // gap: 32px; }
    display: flex;
    flex-wrap: wrap;
    @media screen and  (min-width:768px){
    margin: -16px;}


    
    
}

 .favorites__list{
    
    border: 14px solid #FFE550;
    border-radius: 139.658px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
    @include media-min(tablet){
        height: 338px;
        flex-basis: calc((100% - 4 * 16px) / 2);
        border: 14px solid #FFE550;
        border-radius: 167.59px;
    }
    @include media-min(desktop){
        border: 16px solid #FFE550;
        border-radius: 50%;
        height: 397px;
        flex-basis: calc((100% - 6 * 16px) / 3); 
    }
 }   

.favorites__title{
    font-weight: 700;
font-size: 28px;
line-height: 1.17;
text-align: center;
margin-bottom: 20px;
}
.favorites__text{
    font-weight: 400;
font-size: 14px;
line-height: 1.14;
text-align: center;
margin-bottom: 60px;
}

.favorites__img{
//  border: 11px solid #FFE550;
border-radius: 139.658px;
// border-radius: 50%;

&:hover {border-color:#BBF330; }
&:focus {border-color:#BBF330; }   
}

    @media screen and  (max-width:768px){
    
        
        .img-non{
            display: none;

        }
        
    }

    