.favorites {
    margin-top: 60px;

    @include media-min(tablet){
        margin-top: 100px;
    }
}

.favorites .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.favorites__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    @include media-min(tablet){
        margin: -16px;
    }
    
}

.favorites__list{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 280px;
    height: 282px;
    margin-bottom: 20px;
    border: 11px solid getColor('yellow-main');
    border-radius: 139.658px;


    &:hover,
    &:focus {
        border-color: getColor('accent-green');
    }

    @include media-min(tablet){
        margin: 16px;
        height: 338px;
        flex-basis: calc((100% - 4 * 16px) / 2);
        border: 14px solid getColor('yellow-main');
        border-radius: 167.59px;
    }

    @include media-min(desktop){
        border: 16px solid getColor('yellow-main');
        border-radius: 197.5px;
        height: 397px;
        flex-basis: calc((100% - 6 * 16px) / 3); 
    }


 }   

.favorites__title{
    max-width: 280px;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    margin-bottom: 20px;

    @include media-min(tablet){
        max-width: 656px;

        font-size: 42px;
        line-height: 49px;
    }

}
.favorites__text{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin-bottom: 60px;

    @include media-min(tablet){
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

        max-width: 656px;
    }
}

.favorites__img{
//  border: 11px solid #FFE550;
border-radius: 139.658px;
// border-radius: 50%;

&:hover {border-color:getColor('accent-green'); }
&:focus {border-color:getColor('accent-green'); }   
}

    @media screen and  (max-width:768px){
    
        
        .img-non{
            display: none;

        }
        
    }

.favorites__list--hidden {
    display: none;

    @include media-min(tablet){
        display: flex;
    }
}