.footer__container {
  background-image: url(../images/footer/mob-footer-bg-left@1x.png), url(../images/footer/mob-footer-bg-right@1x.png), url(../images/footer/mob-footer-bg-bottom@1x.png);
  background-position: center left, center right, center bottom;
  background-repeat: no-repeat;
}