.footer {
  margin-top: 60px;
  background: getColor('white');
  box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);
  @include media-min(tablet) {
    margin-top: 100px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url(../images/footer/mob-bottom@1x.png),
    url(../images/footer/mob-right@1x.png),
    url(../images/footer/mob-left@1x.png);
  background-position: center bottom, top right, top 137px left;
  background-repeat: no-repeat;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/footer/mob-bottom@2x.png),
      url(../images/footer/mob-right@2x.png),
      url(../images/footer/mob-left@2x.png);
    background-size: 253px 66px, 104px 259px, 110px 116px;
  }

  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: url(../images/footer/mob-bottom@3x.png),
      url(../images/footer/mob-right@3x.png),
      url(../images/footer/mob-left@3x.png);
    background-size: 253px 66px, 104px 259px, 110px 116px;
  }
  @include media-min(tablet) {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../images/footer/tab_right-img@1x.png),
      url(../images/footer/tab_bottom-right-1@1x.png),
      url(../images/footer/tab_bottom-right-2@1x.png),
      url(../images/footer/tab_bottom-center@1x.png),
      url(../images/footer/tab_bottom-center-3@1x.png),
      url(../images/footer/tab_bottom-left@1x.png);
    background-repeat: no-repeat;
    background-position: top 0px right 0px, bottom 0px right 94px,
      bottom 0px right 0px, bottom center, bottom 0px left 156px,
      bottom -39px left 0px;

    background-size: 203px 365px, 171px 141px, 170px 69px, 338px 129px,
      168px 92px, 184px 101px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/footer/tab_right-img@2x.png),
        url(../images/footer/tab_bottom-right-1@2x.png),
        url(../images/footer/tab_bottom-right-2@2x.png),
        url(../images/footer/tab_bottom-center@2x.png),
        url(../images/footer/tab_bottom-center-3@2x.png),
        url(../images/footer/tab_bottom-left@2x.png);
    }
    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url(../images/footer/tab_right-img@3x.png),
        url(../images/footer/tab_bottom-right-1@3x.png),
        url(../images/footer/tab_bottom-right-2@3x.png),
        url(../images/footer/tab_bottom-center@3x.png),
        url(../images/footer/tab_bottom-center-3@3x.png),
        url(../images/footer/tab_bottom-left@3x.png);
    }
  }
  @include media-min(desktop) {
    background-image: url(../images/footer/desk-bottom@1x.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 1200px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/footer/desk-bottom@2x.png);
    }
    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url(../images/footer/desk-bottom@3x.png);
    }
  }

  .footer__nav {
    display: flex;
    flex-wrap: wrap;

    @include media-min(tablet) {
      align-items: center;
    }

    @include media-min(desktop) {
      flex-wrap: nowrap;
      margin-bottom: 80px;
    }
  }
}

.footer__main-nav {
  margin-right: 101px;
  margin-left: auto;
  margin-bottom: 40px;
  @include media-min(tablet) {
    margin-left: 114px;
  }
  @include media-min(desktop) {
    margin-left: 0;
    // margin-right: 320px;
  }
}

.footer__logo__link {
  @include media-min(tablet) {
    margin-bottom: 40px;
  }
  @include media-min(desktop) {
    margin-right: 148px;
  }
}

.subscribe__wrap {
  @include media-max(mobile) {
    max-width: 100%;
    width: 320px;
  }

  @include media-max(tablet) {
    width: 100%;
  }

  @include media-min(desktop) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: auto;
  }
}
.footer__subscribe__form {
  position: relative;
  flex-wrap: wrap;

  @include media-min(tablet) {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 12px;
  }
}
.subscribe__header {
  font-weight: 500;
  line-height: 1.5;
  color: getColor('primary-text-color');
  margin-bottom: 12px;
}

.footer__subscribe__input {
  @include media-min(tablet) {
    width: 279px;
    margin-right: 13px;
    margin-bottom: 0px;
  }
  @include media-min(desktop) {
    margin-right: 0;
  }
}

.error__input {
  position: absolute;
  display: none;
  top: 42px;
  left: 0px;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.5;
  color: getColor('red');

  &::before {
    content: url(../images/footer/error.svg);
    width: 12px;
    height: 12px;
    margin-right: 4px;
  }
}

.footer__subscribe__btn {
  display: block;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: getColor('primary-text-color');
  border: 0.854167px solid getColor('dark-green');
  background-color: getColor('white');

  border-radius: 30px;
  padding: 11px 22px;
  margin-bottom: 20px;
  margin-left: auto;

  @include media-min(tablet) {
    margin: 0;
  }
  @include media-min(desktop) {
    margin-left: 13px;
  }
  &:hover,
  &:focus,
  &:active {
    background-color: getColor('yellow-main');
  }
  cursor: pointer;
}

.privacy-policy {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: getColor('primary-text-color');
  margin-bottom: 60px;

  @include media-min(tablet) {
    font-size: 12px;
    line-height: 1.16;
    width: 100%;
    margin-bottom: 100px;
  }
  @include media-min(desktop) {
    margin-bottom: 0;
  }

  &__link {
    text-decoration-line: underline;
    color: getColor('dark-green');
  }
}

.footer__info {
  display: flex;
  flex-wrap: wrap;
  @include media-min(tablet) {
    flex-wrap: nowrap;
  }
  &__list {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
    justify-content: space-between;
    width: 100%;
    @include media-min(tablet) {
      margin: 0;
      justify-content: flex-start;
      width: auto;
    }
  }
  &__link {
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;

    text-decoration-line: underline;

    color: getColor('dark-green');
    @include media-min(tablet) {
      font-size: 12px;
      line-height: 1.16;
    }
  }
}

.footer__copyright {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;

  color: getColor('primary-text-color');
  margin: 0 auto;
  @include media-min(tablet) {
    font-size: 12px;
    line-height: 1.16;
    margin-right: 0;
    margin-left: auto;
  }
}

.footer__nav__list {
  gap: 20px;

  @include media-min(tablet) {
    gap: 28px;
  }
}
