/* _______offerings______ */
.offerings {
    padding-top: 41px;
    padding-bottom: 60px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;

    background-image: url(../images/background-offerings/background-1x.png);


    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../images/background-offerings/background-2x.png);
    }

    @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
        background-image: url(../images/background-offerings/background-3x.png);
    }


    @include media-min(mobile) {
        // max-width: 480px;
        background-image: url(../images/background-offerings/background-mobil-1x.png);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/background-offerings/background-mobil-2x.png);
        }

        @media (min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
            background-image: url(../images/background-offerings/background-mobil-3x.png);
        }
    }

    @include media-min(tablet) {
        // max-width: 768px;
        margin-top: -108px;
        padding-top: 150px;
        padding-bottom: 100px;

        background-image: url(../images/background-offerings/background-tablet-1x.png);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/background-offerings/background-tablet-2x.png);
        }

        @media (min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
            background-image: url(../images/background-offerings/background-tablet-3x.png);
        }
    }

    @include media-min(desktop) {
        // max-width: 1280px;
        margin-top: -161px;
        padding-top: 177px;
        padding-bottom: 43px;

        background-image: url(../images/background-offerings/background-desktop-1x.png);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/background-offerings/background-desktop-2x.png);
        }

        @media (min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
            background-image: url(../images/background-offerings/background-desktop-3x.png);
        }

    }


}

.offerings__description{
    @include media-min(desktop){
        margin-top : 83px;
    }
}

.offerings__img {
    display: block;
    margin: 0 auto;
    margin-bottom: 60px;
    width: 280px;
    height: auto;

    @include media-min(tablet) {
        width: 100%;

    }

    @include media-min(desktop) {
        width: 550px;
        margin-right: 90px;
        margin-bottom: 0;
    }
}

.offerings__title {

    margin-bottom: 28px;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;

    @include media-min(tablet) {
        margin-bottom: 20px;
        font-size: 42px;
        line-height: 1.17;
    }

    @include media-min(desktop) {
        font-weight: 700;
        font-size: 42px;
        line-height: 120%;

        margin-bottom: 20px;
    }



}

.offerings__text {
    margin-bottom: 28px;

    font-size: 14px;
    line-height: 1.14;


    @include media-min(tablet) {
        max-width: 500px;
        font-size: 16px;
        line-height: 1.19;
        margin-bottom: 40px;
    }

    @include media-min(desktop) {
        font-size: 16px;
        line-height: 150%;
    }


}

.offerings__list {
    margin-bottom: 28px;

    @include media-min(tablet) {
        display: flex;
        margin-bottom: 40px;

    }

    @include media-min(desktop) {
        margin-bottom: 32px;
    }

}

.offerings__item {
    margin-bottom: 28px;

    @include media-min(tablet) {
        &:not(:last-child) {
            margin-right: 116px;
        }

        margin-bottom: 0;

    }

}

.offerings__link__icon {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    margin-bottom: 8px;
    border-radius: 50%;
    background-color: #ffffff;
}

.offerings__icon {
    width: 32px;
    height: 32px;
}




.offerings__title__advantage {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;

    @include media-min(desktop) {
        font-size: 18px;
        line-height: 140%;
    }



}

.offrings__advantage__description {
    font-size: 14px;
    line-height: 1.14;

    @include media-min(desktop) {
        font-size: 14px;
        line-height: 150%;
    }


}

.offerings__div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.offerings__btn {
    background-color: #FFF;
    width: 106px;
    height: 40px;
    border: 2px solid;
    border-color: getColor('dark-green');
    border-radius: 30px;
    margin-right: 24px;

    font-weight: 500;
    font-size: 13px;
    line-height: 150%;

    cursor: pointer;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &:hover {
        border-color: #597D00;
    }

    @include media-min(desktop) {
        margin-right: 0;
    }

}

.offerings__link {
    text-decoration: none;

    font-size: 13.6667px;
    line-height: 150%;
    color: #000000;

    @include media-min(desktop) {
        display: none;
    }
}

.offerings__icon__svg {

    align-items: center;
    width: 13px;
    height: 13px;
}

.offerings__desktop {
    @include media-min(desktop) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}